<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.nac.app" android:installLocation="auto" android:versionCode="1" android:versionName="1 ">
	<uses-sdk android:minSdkVersion="14" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<application android:label="NaControl.App.Android" android:icon="@drawable/icon">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAZ_wPOxTuUysbDCB1LMMS-IFLU3YAiiOQ" />
	</application>
	<!--<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCFE4oUr-UP9s8NQbMuSTXAiPnCVoMg4tE" />-->
</manifest>